
html, body {
    background-color: #3a393a;
    font-family: sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    user-select: none;
}

.dock {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-first;
    position: relative;
}

.pos {
    position: absolute;
    right: 6px;
    top: 6px;
    display: flex;
    flex-direction: row;
    z-index: 100;
}
.pos .label {
    font-size: 9pt;
    color: #ffffff;
}
.pos input {
    user-select: text;
    font-size: 9pt;
    background-color: #1f1e1f;
    color: #ffffff;
    border: 0;
    outline 0;
    width: 30px;
    margin-left: 4px;
    margin-right: 8px;
}
.pos input:focus {
    border: 0;
    outline: none;
}
.pos button.control {
    height: 16px;
    font-size: 10px;
    font-weight: bold;
    background-color: #5a595a;
    color: #ffffff;
    border: 0;
    margin-left: 4px;
    border-radius: 4px;
}
.pos button.control:focus {
    border: 0;
    outline: none;
}
.pos button.control:hover {
    background-color: #8a898a;
}

.msg {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-first;
    position: relative;
}
.msg .label {
    font-size: 9pt;
    color: #ffffff;
    margin-top: 6px;
    margin-left: 6px;
    margin-bottom: 6px;
    height: 14px;
}
.msg .text {
    user-select: text;
    flex-grow: 1;
    font-size: 9pt;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #1f1e1f;
    color: #ffffff;
    width: calc(100% - 20px);
    outline: none;
    border: 0;
}
.msg .text:focus {
    border: 0;
    outline: none;
}

